# --- 웹 프레임워크 및 서버 ---
fastapi
uvicorn[standard]
pydantic

# --- LangChain 및 AI 모델 ---
langchain
langchain-huggingface
sentence-transformers
langchain-postgres
llama-cpp-python

# --- 데이터베이스 연결 ---
psycopg2-binary
asyncpg # 비동기 드라이버 추가

# --- 유틸리티 ---
python-dotenv

# --- GPU 체크 및 사용 ---
torch