# FastAPI 서버
fastapi
uvicorn[standard]

# 환경변수 관리
python-dotenv

# LangChain 및 RAG 관련
langchain
langchain-community
langchain-huggingface
langchain-postgres

# DB 및 PDF
psycopg
PyPDF2

# LLM 및 임베딩
llama-cpp-python
sentence-transformers

# 기타
numpy